.todo-list {
  margin-left: 0;
  padding-left: 0;
}

.Todo-item {
  /* display: flex; */
  /* justify-content: space-between; */
  list-style: none;
  background-color: #515b64;
  min-width: 400px;
  height: 25px;
  padding: 5px;
  margin: 10px;
}

.Todo-item-Xbutton {
  float: right;
  font-size: large;
  padding: 0px 8px;
  margin: 0px 10px;
}

.Todo-item-checkBox {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0px 10px;
}

.Todo-item-text {
  float: left;
  padding: 20 px;
  margin: 50 px;
  right: 10px;
  font-size: 20px;
}
